<div class="container pt-5">
  <section class="mx-auto my-5 card w-75 py-3">
    <form [formGroup]="singupForm" (ngSubmit)="onSubmit()" class="d-flex flex-column justify-content-center align-items-center">
      <h2 class="mb-3">Sing Up</h2>

      <div class="d-flex flex-column justify-content-center align-items-center mb-3">
        <label htmlFor="name" class="font-weight-bold">
          Name
        </label>
        <input class="form-control" type="text" name="name" formControlName="name"/>
        <div class="error" *ngIf="singupForm.controls.name.errors?.required && singupForm.controls.name.touched">
          Name is required
      </div>
      </div>

      <div class="d-flex flex-column justify-content-center align-items-center mb-3">
        <label htmlFor="email" class="font-weight-bold">
          Email
        </label>
        <input class="form-control" type="text" name="email" formControlName="email"/>
        <div class="error" *ngIf="singupForm.controls.email.errors?.required && singupForm.controls.email.touched">
          Email is required
      </div>
      </div>

      <div class="d-flex flex-column justify-content-center align-items-center mb-3">
        <label htmlFor="password" class="font-weight-bold">
          Password
        </label>
        <input class="form-control" type="password" name="password" formControlName="password"/>
        <div class="error" *ngIf="singupForm.controls.password.errors?.required && singupForm.controls.password.touched">
          Password is required
      </div>
      </div>

      <div class="d-flex flex-column justify-content-center align-items-center mb-3">
        <label htmlFor="passwordConfirmed" class="font-weight-bold">
          Repeat Password
        </label>
        <input class="form-control" type="password" name="passwordConfirmed" formControlName="passwordConfirmed"/>
        <div class="error" *ngIf="singupForm.controls.passwordConfirmed.errors?.required && singupForm.controls.passwordConfirmed.touched">
          Repeat Password is required
      </div>
      </div>

      <input type="submit" value="Register" class="btn btn-dark" />
    </form>
  </section>
</div>