<div class="container">
    <h1 class="m-5 text-center">Create Clothe</h1>

    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="card p-5">

        <div class="row">
            <div class="mb-3 col-12 col-md-6">
                <label class="form-label">Reference</label>
                <input class="form-control" formControlName="reference">
                <div class="error"
                    *ngIf="createForm.controls.reference.errors?.required && createForm.controls.reference.touched">
                    Reference is required
                </div>
            </div>
            <div class="mb-3 col-6 col-md-3">
                <label class="form-label">Size</label>
                <input class="form-control" formControlName="size">
                <div class="error"
                    *ngIf="createForm.controls.size.errors?.required && createForm.controls.size.touched">
                    Size is required
                </div>
            </div>
            <div class="mb-3 col-6 col-md-3">
                <label class="form-label">Price (Ej: 15.500)</label>
                <input type="number" class="form-control" formControlName="price">
                <div class="error"
                    *ngIf="createForm.controls.price.errors?.required && createForm.controls.price.touched">
                    Price is required
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Color</label>
            <input class="form-control mb-3" [(colorPicker)]="color" [style.background]="color" />

            <div class="d-flex align-items-center">
                <a class="btn btn-dark" (click)="addColor()"><i class="fas fa-plus-circle"></i></a>

                <div  class="rounded-circle ms-3" style="width: 30px; height: 30px;" *ngFor="let item of selectedColors; let i=index"
                    [ngStyle]="{'background-color': item}">
                    <span (click)="deleteColor(i)" class="badge rounded-circle bg-secondary" style="position: relative; top: -15px; left: 15px;"><i class="fas fa-times"></i></span>
                </div>
            </div>
        </div>


        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" formControlName="description"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Fotos</label>

            <input type="file" class="form-control mb-3" name="files[]" multiple="multiple"
                (change)="selectFiles($event)" accept="image/*">
            <div class="d-flex flex-row flex-wrap">
                <img [src]="item" *ngFor="let item of urls" class="rounded mx-auto d-block"
                    style="max-width: 250px; max-height: 200px;" alt="image">
            </div>
        </div>


        <input type="submit" value="Save" class="btn btn-success">
    </form>

</div>