<div class="container">
    <h1 class="m-5 text-center">Create Clothe</h1>

    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="card p-5">
         
        <div class="row">
            <div class="mb-3 col-12 col-md-6">
                <label class="form-label">Reference</label>
                <input class="form-control" formControlName="reference">
                <div class="error" *ngIf="createForm.controls.reference.errors?.required && createForm.controls.reference.touched">
                    Reference is required
                </div>
            </div>
            <div class="mb-3 col-12 col-md-6">
                <label class="form-label">Size</label>
                <input class="form-control" formControlName="size">
                <div class="error" *ngIf="createForm.controls.size.errors?.required && createForm.controls.size.touched">
                    Size is required
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Price</label>
            <input class="form-control" formControlName="price">
            <div class="error" *ngIf="createForm.controls.price.errors?.required && createForm.controls.price.touched">
                Price is required
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" formControlName="description"></textarea>
        </div>

        <input type="submit" value="Save" class="btn btn-success">
    </form>

</div>